.rosaoscuro {
    background-color: #f0533f;
}
.rosaclaro {
    background-color: #fc7665;
}

.gris{
    background-color: #c4c4a5;
}

.baskervillesubtitulo{
    font-family: Baskerville;
    font-style: oblique;
    font-size: 3rem;
}

.poppins{
    font-family: 'Poppins';
    font-style: normal;
    font-size: large;
}

.colorNegro {
    background-color: black;
}


